* {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    outline: none;
}

body {
    background-color: #121212;
    margin: auto;
}

input.standard-input {
    background-color: #131313;
    border: none;
    color: lightgrey;
    font-family: "Crumble";
    font-size: 30px;
    margin: auto;
    padding: 6px;
    transition: 0.4s;
}

input.standard-input:focus {
    background-color: #0e0e0e;
    transition: 0.4s;
}

button.standard-btn {
    color: rgb(53, 176, 98);
    cursor: pointer;
    border: none;
    background-color: #131313;
    font-family: "Crumble";
    font-size: 30px;
    text-align: center;
    transition: 0.4s;
    padding-bottom: 4px;
    padding-top: 4px;
}

button.standard-btn:hover {
    color: rgb(45, 233, 167);
    background-color: #0e0e0e;
    transition: 0.4s;
}

div.content-wrapper {
    background-color: #1c1c1c;
    text-align: center;
    padding: 10px;
    height: fit-content;
    width: fit-content;

    position: absolute;
    top: calc(50% - 95px);
    left: calc(50% - 166px);
}

div.title-txt {
    color: white;
    font-family: "Crumble";
    font-size: 60px;
    margin-top: -10px;
    margin-bottom: 8px;
}

div.subtitle-txt {
    color: rgb(140, 140, 140);
    font-family: "Crumble";
    font-size: 30px;
}

div#client-msg {
    color: rgb(255, 36, 51);
    text-align: center;
    font-family: "Crumble";
    font-size: 30px;
    margin-bottom: 8px;
    width: 300px;
}

button#name-conf, button#cancel-queue {
    margin-top: 13px;
    width: 312px;
}

input#name-input {
    text-align: center;
    width: 300px;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "Crumble";
    src: url("./assets/crumble.ttf");
}